<h1>account info </h1>
<%=image_tag (@patient.img)%>
</br>
<%=@patient.account_type%>
</br>
<%=@patient.email%>
</br>
<%=@patient.encrypted_password%>
</br>
<%=@patient.patient.id%>
</br>
<%=current_user.id%>
