<h1>account info </h1>
<%=image_tag (@doctor.img)%>
</br>
<%=@doctor.account_type%>
</br>
<%=@doctor.email%>
</br>
<%=@doctor.encrypted_password%>
</br>
<%=@doctor.doctor.id%>
</br>
<%=current_user.id%>
