<h1>account info </h1>
<%=image_tag (current_user.img)%>
</br>
<%=current_user.account_type%>
</br>
<%=current_user.email%>
</br>
<%=current_user.encrypted_password%>
</br>
<%=current_user.doctor.id%>
</br>
<%=current_user.id%>

<h4>patient's resposible for </h4>
</br>
<%= link_to "schedule", doctor_schedule_path%> 
